body {
    background-color: #111111;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em 0;
}

h1 {
    font-weight: lighter;
    color: white;
    font-size: 2em;
}

.h1-light {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 1em;
    color: white;
}

.logo-big {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1em auto;
}

.logo-white {
    filter: invert();
}

.welcome {
    margin-bottom: 3em;
}

.login-section {
    background-color: #CCCCCC;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    
}

.btn {
    height: 3em;
    width: 100%;
    margin: 0 auto;
}

.btn-login {
    background-color: #F49404;
    margin: 1.5em 0;
    color: white;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #e08000;
    color: white;
}

.btn-register {
    background-color: rgb(38, 186, 203);
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
}

.btn-register:hover {
    background-color: #2a9db8;
    color: white;
}

.register-msg {
    font-weight: lighter;
    font-style: italic;
}

.form-control {
    background-color: #D5D5D5;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: none;
}

.form-control:focus {
    background-color: #DDDDDD;
    box-shadow: none;
    outline: none;
}

.form-label {
    font-weight: lighter;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        padding: 0;
    }

    .logo-big {
        max-width: 300px;
    }

    .login-section {
        padding: 2em;
        width: 100%;
    }

    
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .logo-big {
        max-width: 250px;
    }

    .login-section {
        padding: 1.5em;
    }

    .btn {
        height: 3em;
    }
}
